.THIS {
    
    
    
    
}

.THIS h1{
    text-align: center;
    font-size:35px;
    
}
.THIS th{
    color:#fff;
    background-color:#0033cc;
    text-align: center;
}

.THIS td{
    text-align: center;
}

.THIS tr:hover{
    opacity:0.5;
    text-decoration:underline;
}

.THIS tr:nth-child(even) {
    background-color: #b3c6ff;
    
}

.THIS table{
    width:100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}